#player1Section {
    height: 250px;
    border: 1px black solid;
    
}

#player2Section{
    height: 250px;
    border: 1px black solid;

}

#resultSection{
    height: 200px;
    border: 1px black solid;
}

#talkingZone{
height: 100px;
border: 1px black solid;
}

#title{
    background-color:#90caf9;
}

body{
    background-color: #e3f2fd;
}

#ShowplayerName{
    font-weight: bold;
}

.Selection{
    font-weight:bold;
    }

#resultSection{
    font-weight:bold;
    
}

#player1Rock{
    cursor: pointer;
}

#player1Rock:hover{
    color:blue;
}

#player1Paper{
    cursor: pointer;
}

#player1Paper:hover{
    color:blue;
}

#player1Scissors{
    cursor: pointer;
}

#player1Scissors:hover{
    color:blue;
}

#player2Rock{
    cursor: pointer;
}

#player2Rock:hover{
    color:blue;
}

#player2Paper{
    cursor: pointer;
}

#player2Paper:hover{
    color:blue;
}

#player2Scissors{
    cursor: pointer;
}

#player2Scissors:hover{
    color:blue;
}